<template name="buttonSave">
	<button type="submit" class="btn btn-save text-nowrap {{event}}" {{disabledIfBusy}}>
		{{#if busy 'saving'}}
			<span class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></span>
			{{i18n '_button.saving' 'Saving…'}}
		{{else}}
			{{i18n '_button.save'}}
		{{/if}}
	</button>
</template>

<template name="buttonCancel">
	<button type="button" class="btn btn-cancel text-nowrap {{event}}" {{disabledIfBusy}}>
		{{i18n '_button.cancel'}}
	</button>
</template>

<template name="buttonEdit">
	<button type="button" class="btn btn-edit text-nowrap {{event}}" {{disabledIfBusy}}>
		{{i18n '_button.edit'}}
	</button>
</template>

<template name="buttonDelete">
	<button type="button" class="btn btn-delete text-nowrap text-danger {{event}}"
			{{disabledIfBusy}}>
		{{i18n '_button.delete'}}
	</button>
</template>

<template name="buttonDeleteConfirm">
	<button type="button" class="btn btn-danger text-nowrap {{event}}" {{disabledIfBusy}}>
		{{#if busy 'deleting'}}
			<span class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></span>
			{{textBusy}}
		{{else}}
			{{textIdle}}
		{{/if}}
	</button>
</template>
