{{#emailBase subject=subject site=site}}
	<tr>
		<td>
			<span class="title">
				{{i18n "resetPassword.email.gretting" "Hi {NAME}" NAME=username}}
			</span>
			<p>
				{{i18n "resetPassword.email.introduction" "You requested resetting your password on {SITE}." SITE=siteName}}
			</p>
			<p class="gap-md">
				{{i18n "resetPassword.email.verification" "You can click this link to reset your password. If you did not request this message, you can safely discard it."}}
			</p>
			<p class="text-center">
				<a class="button" href="{{url}}">
					{{i18n "resetPassword.email.passwordResetButton" "Reset password"}}
				</a>
			</p>
			<p>
				{{i18n "resetPassword.email.farewell" "If you have any questions or suggestions, please do not hesitate to contact us."}}<br />
				{{i18n "resetPassword.email.postscript" "Kind regards, your {SITE} team" SITE=siteName}}
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<table class="footer">
				<tr>
					<td>
						{{i18n "resetPassword.email.unexpected" "If you don't know why you got this e-mail, ignore it or send us a notification to: {REPORTEMAIL}" REPORTEMAIL=reportEmail}}
						<a
						   href="{{urlFor 'profile'}}">{{i18n "resetPassword.email.profileLink" "Visit your profile"}}</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{{/emailBase}}
